
.contato{
    background-color: #121214;
    
}
.tel, .adress{
    padding: 15px;
  
}

footer h3{
    font-size: 25px;
    padding: 15px 0px;
}
footer h4{
    font-size: 20px;
    padding: 15px 0px;
    color: white;
}
footer p{
    font-size: 16px;
    padding: 15px 0px;
}
footer a{
    font-size: 18px;
}
footer h4{
    color: white;
}
footer p, footer a{
    color: rgb(139, 139, 139);
}
.icon-f img{
    border-radius: 5px;
    width: 48px;
    margin: 0px 5px;
    transition: all 0.5s;
}
.icon-f{
    border-top: 1px rgb(73, 73, 73) solid;
    
    padding: 10px

}
.icon-f img:hover{
    background-color: aliceblue;
    border: white 1px solid;
    transition: 0.5s;
    transform: rotate(360deg);
    border-radius: 50%;
    

}


